a {
  text-decoration: none;
}
a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}
img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
p {
  font-family: 'Roboto', sans-serif;
}
h3 {
  font-family: 'Play', sans-serif;
  color: #00315a;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1.25rem 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.375rem;
  background-color: transparent;
  padding: 1.25rem 0;
  z-index: 10;
  transition: all .3s ease;
}
.header_menu ul li {
  margin-right: 10px;
}
.header_menu ul li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1rem;
  padding: 0.125rem 0.3125rem;
  transition: all .3s ease;
}
.header_menu ul li a:hover {
  border-radius: 50px;
  background: #fff;
  color: #31b4b4;
}
.redes .nav {
  margin-top: -0.9375rem;
}
.redes {
  display: flex;
  justify-content: flex-end;
}
.fa {
  color: #fff;
  transition: all .3s ease;
}
.fa:hover {
  color: #31b4b4;
}

.intro {
  width: 100%;
  height: 43.75rem;
  background: url(../img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 16.5rem;
}
.intro h1 {
  font-family: 'Play', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;

}
.intro h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 2.8125rem;
}
.botao {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  border: 3px solid #31b4b4;
  border-radius: 50px;
  padding: 0.625rem 1.875rem;
  color: #fff;
  letter-spacing: .1em;
  transition: all .3s ease;
}
.botao:hover {
  border-color: #fff;
  background: #fff;
  padding: 0.625rem 3.75rem;
  color: #31b4b4;
}
.botao-port {
  margin-top: 11.5rem;
}
.botao-port a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
  color: #fff;
}
.botao-port a img {
  margin: 0.75rem auto;
}
.sobre {
  padding: 3.75rem 0;
}
.sobre .foto-sobre {
  max-width: 18.75rem;
}
.subtitulo {
  font-family: 'Play', sans-serif;
  color: #00315a;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 3.31rem;
  padding: 0;
}
.subtitulo:after {
  content: '';
  display: block;
  height: 0.1875rem;
  width: 56.25rem;
  background: #31b4b4;
  float: right;
  border-radius: 50px;
  margin-top: 0.9375rem;
}
.sobre .subtitulo:after {
  width: 80%;
}
.texto-sobre p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: .05em;
  color: #00315a;
}
.servicos {
  padding: 3.75rem 0;
  background: #ddd;
}
.servicos .subtitulo:after {
  width: 70%;
}

.servicos p {
  color: #00315a;
  max-width: 15.25rem;
  margin-right: auto;
  margin-left: auto;
}
.servicos img {
  width: 6.25rem;
  height: 6.25rem;
}
.portfolio {
  padding: 3.75rem 0;
}
.portfolio .subtitulo:after {
  width: 70%;
}
.portfolio h3 {
  margin-top: 0;
}
.portfolio p {
  margin-bottom: 2.5rem;
}
.portfolio .botao {
  color: #00315a;
}
.portfolio .botao:hover {
  background: #00315a;
  color: #fff;
  border-color: transparent;
}
.bottom {
  margin-bottom: 2.5rem;
}
.contato {
  background: #ddd;
  padding: 3.75rem 0;
}
.contato .subtitulo:after {
  width: 70%;
}
.contato label {
  display: block;
  font-family: 'Play', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  margin-bottom: 0.25rem;
  color: #00315a;
}
.contato input {
  display: block;
  width: 100%;
  border: solid 3px #31b4b4;
  border-radius: 50px;
  background: none;
  padding: 0.4375rem 0.625rem;
  margin-bottom: 2.5rem;
  outline: none;
  font-size: 0.875rem;
  font-family: 'Roboto', sans-serif;
  color: #00315a;
}
.contato textarea {
  display: block;
  width: 100%;
  border: solid 3px #31b4b4;
  background: none;
  padding: 0.4375rem 0.625rem;
  margin-bottom: 2.5rem;
  outline: none;
  font-size: 0.875;
  font-family: 'Roboto', sans-serif;
  color: #00315a;
  border-radius: 50px;
}
.contato .botao {
  display: block;
  padding: 0.4375rem 2.5rem;
  background: none;
  text-align: center;
  clear: both;
  margin-bottom: 3.75rem;
  cursor: pointer;
  margin: 0 auto;
  color: #00315a;
}
.contato .botao:hover {
  background: #00315a;
  color: #fff;
  padding: 0.4375rem 3.75rem;
  border-color: transparent;
}
.footer {
  height: 4.375rem;
  padding: 1.25rem 0;
  color: #fff;
  background: #00315a;
}
@media only screen and (max-width: 768px) {
  .subtitulo:after {
    max-width: 60%;
  }
  .sobre .subtitulo:after {
    max-width: 60%;
  }
   .portfolio .subtitulo:after {
    max-width: 50%;
  }
  .sobre img {
    max-width: 18.75rem;
  }

  .servicos img {
    width: 4rem;
    height: 4rem;
  }

  .botao-port {
    margin-top: 6.25rem;
  }
  .portfolio {
    width: 100%;
    padding-bottom: 5rem;
  }
  .portfolio h3, .portfolio p{
    text-align: center;
  }
  .port-img {
    position: relative;
    top: -11.25rem;

  }
  .port-texto {
    position: relative;
    top: 20rem;
    text-align: center;
  }
  .nature-img {
    position: relative;
    top: -9.6875rem;

  }
  .nature-texto {
    position: relative;
    top: 345px;
    text-align: center;
  }
  .lescone-texto {
    text-align: center;
  }
  .lescone-h3 {
    position: relative;
    top: -21.56rem;
  }
  .lescone-img {
    position: relative;
    top: 1.25rem;
  }
  .bottom {
    margin-bottom: 5rem;
  }

  .mobile-btn {
    display: block;
    color: white;
    width: 36px;
    height: 36px;
    border-top: 4px solid;
    float: left;
    position: relative;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
  }

  .mobile-btn::after, .mobile-btn::before {
    content: '';
    display: block;
    height: 4px;
    margin-top: 6px;
    background: currentColor;
    position: relative;
    transition: transform .2s ease;
  }
  .mobile-btn.active {
    border-top-color: transparent;
  }
  .mobile-btn.active::after {
    margin-top: 0;
    top: 2px;
    transform: rotate(45deg);
  }
  .mobile-btn.active::before {
    margin-top: 0;
    top: 6px;
    transform: rotate(135deg);
  }
  .nav.mobile-menu {
    position: fixed;
    padding: 10px;
    display: block !important;
    top: 60px;
    left: 30px;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-60px, 0, 0);
    transition: .3s;
  }
  .nav.mobile-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }

  .nav.mobile-menu li a {
    border-top: 2px solid;
    width: 100%;
    text-align: center;
  }

}

@media only screen and (max-width: 480px) {
  html, body {
    max-width: 30rem;
  }
  .subtitulo:after {
    max-width: 45%;
  }
  .sobre .subtitulo:after {
    max-width: 45%;
  }
  .portfolio .subtitulo:after, .servicos .subtitulo:after {
    max-width: 30%;
  }
  .intro {
    height: auto;
    padding-top: 12rem;
    padding-bottom: 3.75rem;
  }
  .intro h1 {
    font-size: 1.90rem;
  }
  .intro h2 {
    font-size: 1.125rem;
  }
  .container {
    max-width: 30rem;
  }
  .portfolio {
    width: 100%;
    padding-bottom: 5rem;
  }
  .portfolio h3, .portfolio p{
    text-align: center;
  }
  .port-img {
    position: relative;
    top: -12.5rem;

  }
  .port-texto {
    position: relative;
    top: 20rem;
    text-align: center;
  }
  .nature-img {
    position: relative;
    top: -10.9375rem;

  }
  .nature-texto {
    position: relative;
    top: 21.5625rem;
    text-align: center;
  }
  .lescone-texto {
    text-align: center;
  }
  .lescone-h3 {
    position: relative;
    top: -21.5625rem;
  }
  .lescone-img {
    position: relative;
    top: 1.25rem;
  }
  .bottom {
    margin-bottom: 6.25rem;
  }
   .nav.mobile-menu {
    left: 20px;
  }
}
