body {
	background-color: #F5F0DC;
	font-family: Helvetica, Arial, sans-serif;
	width: 940px;
	margin-right: auto;
	margin-left: auto;

}

h2 {
	background-color: #B3A742;
	background: -moz-linear-gradient(top, #9C8F67, #C7BE9B 30%);
	border-radius: 15px;
	border: 1px solid black;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	color: #FFFFFF;
}
#tb-nutrientes {
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid black;
}
#tb-nutrientes th {
	background-color: #B3A742;
	color: #FFFFFF;

}

nav {
	width: 200px;
	float: left;

}

#topo {
	text-align: center;
}

figure {
	background-color: white;
	width: 450px;
	text-align: center;
	padding: 15px;
	font-family: 'Comic Sans', cursive;
	border: 1px solid black;
	box-shadow: 5px 5px 3px rgba(0,0,0,0.7);
	-moz-transform:rotate(-5deg);
}

#titulo {
	text-align: center;
}

#conteudo {
	width: 740px;
	float: right;
}

nav ul li {
	background-color: #C7BE9B;
	margin-bottom: 3px;
}

nav ul li {
	text-decoration: none;
	color: black;
}

nav ul li {
	list-style: none;
	padding-left: 0;
}

nav ul li:hover {
	background-color: #9C8F67;
}

#banner {
	top: 0;
	right: 0;
	-moz-transform:rotate(20deg);
	position: fixed;
}
