/* Geral */
html, body, .main-container, .row {
  height: 100%;
}

body, p, h1, h2, h3, h4, p, ul, li {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
a, a:hover {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box
}


.full-height {
  min-height: 100vh; 
}

//Cores
$branco: #fff;
$azul-claro: #22A5E6;
$azul-escuro: #0068B3;
$verde-claro: #DEEB52;
$verde-escuro: #AFBF30;



body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(130.48deg, $azul-claro 0%, $azul-escuro 100%);
}