.header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: blue;
	padding:  0;
	z-index: 10;
    height: 70px;
  
}

.header_menu {
	text-align: left;
  background: green;
}
.header_menu ul li {
	display: inline-block;
	margin-right: 20px;
	margin-top: 20px;
  &:last-child {
    margin: 0;
  }
}
.header_menu ul li a {
	color: $branco;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	//@include tipo-1(16);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
	padding: 10px 0;
	transition: all .3s ease;
    text-decoration: none;
	&:hover, &.menu_ativo {
		color: $verde;
        background: $branco; 
	}
}
.redes {
  background: green;
  text-align: right;
}
.redes li {
    display: inline-block;
    margin-right: 0px;
	margin-top: 20px;
}
.container {
  background: gray;
}

