@media (max-width: 739px) {
  .side-nav {
    max-width: 100%;
  }
  .fixed {
    position: relative;
     left: 0; 
     display: flex;
     flex-wrap: wrap;
     align-items: center;
  }
    .side-nav .itens-paginas::before, .side-nav .itens-paginas::after, .logo {
      display: none;
    }
    .foto {
      /* flex: 1; */
      width: 120px;
      height: 120px;
    }
    .itens-paginas {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
    }
    .itens-paginas li {
      margin-right: 5px;
      flex: 1;
    }
    .redes-sociais {
      flex-wrap: wrap;
      max-width: auto;
      margin-right: 10px;
    }
    .redes-sociais li {
      margin-right: 10px;
    }
    .content {
      width: auto;
      padding: 15px;
    }
    .content p {
      font-size: 24px;
    }
    .portfolio-item {
      flex-direction: column;
    }
    .btn-live {
      margin-bottom: 15px;
    }
}

@media (max-width: 739px) {
  .conteudo {
    padding: 30px 15px;
  }
}