
/* Portfólio */
.portfolio.interna h2 {
   margin: 0;
 }
 .portfolio.interna h2::after {
   content: "";
   display: block;
   width: 60px;
   height: 5px;
   background: linear-gradient(94.76deg, #deeb52 0%, #afbf30 100%);
   border-radius: 10px;
   margin-top: 5px;
   /* // margin-bottom: 30px; */
 }
 
 .dropdown-divider {
   height: 2px;
   background-color: #dce2e6;
 }
 
 .portfolio.interna p {
   font-style: normal;
   font-weight: normal;
   line-height: 1.4em;
   font-size: 18px;
   margin-bottom: 30px;
   color: #626d73;
 }
 .portfolio.interna .tag {
   font-style: italic;
   font-size: 14px;
   letter-spacing: 0.05em;
   color: #95a0a6;
   display: inline-block;
 }