.portfolio-item {
   background: #fff;
   box-shadow: 0px 1px 5px rgba(45, 57, 64, 0.2), 
               0px 3px 4px rgba(45, 57, 64, 0.12), 
               0px 2px 4px rgba(45, 57, 64, 0.14);
   border-radius: 10px;
   margin-bottom: 30px;
    flex-wrap: wrap; 
    overflow: hidden;
 }
 
 .portfolio-item img {
   align-self: flex-start;
   border-bottom: 1px solid #DCE2E6;
 }
 .portfolio-item .item-info {
   padding: 15px;
 }
 .media {
   flex-wrap: wrap;
 }
 .portfolio-item h3 {
   font-weight: bold;
   font-size: 20px;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: #2D3940;
 }
 .portfolio-item .tag {
   font-style: italic;
   font-size: 14px;
   letter-spacing: 0.05em;
   margin-top: 15px;
   margin-bottom: 30px;
   color: #95A0A6;
   display: inline-block;
 }
 
 .badge-secondary {
   background-color: #DCE2E6;
   color: #626d73;
   margin-right: .5rem;
   /* // font-weight: 00; */
 }

 .badge-secondary:last-child {
   margin-right: 0;
 }