/* // Slide */
/* .slide-wrapper {
   overflow: hidden;
 }
 .slide {
   display: flex;
   max-width: 100%;
 }
 .slide:hover {
   will-change: transform;
 }
 .slide li {
   flex-shrink: 0;
   width: 20%;
   max-width: 100%;
   border-radius: 4px;
   overflow: hidden;
   opacity: 0.8;
   transform: scale(0.9);
   transition: 0.4s;
 }
 .slide img {
   display: block;
   max-width: 100%;
 }
 .slide li.active {
   opacity: 1;
   transform: scale(1);
 }
 [data-control="slide"] {
   display: flex;
   justify-content: center;
   margin-top: 20px;
 }
 [data-control="slide"] li a {
   display: block;
   width: 12px;
   height: 12px;
   background: #fb5;
   border-radius: 50%;
   overflow: hidden;
   text-indent: -999px;
   margin: 5px;
 }
 [data-control="slide"] li.active a,
 [data-control="slide"] li a:hover {
   background: #e54;
 } */

 .icon-skill {
   background-color: #cbdc3d;
   width: 120px;
   height: 120px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   /* // font-size: 28px; */
   color: #2d3940;
 }